* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html,
body {
  height: 100%;
}

.contenedor {
  min-height: 100%;
  position: relative;
}

/* HEADER */
.imagenlogo > img {
  height: 120px;
}
/* FIN HEADER */

/* MAIN */
#sidebar-container {
  height: 100%;
}

#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
}
/* FIN MAIN */

/* FOOTER */
footer {
  height: 250px;
  position: relative;
  bottom: 0;
}

#mapa > iframe {
  height: 180px;
}

#contacto {
  height: 180px;
}
/* FIN FOOTER */

/* MEDIA QUERIE */
@media (max-width: 576px) {
  #content-wrapper {
    display: flex;
    flex-direction: column;
  }

  #content-wrapper > main {
    margin: 1rem 0;
  }
}